section.section.cases
  .container 
    h2.title-text Участники опроса<br> получат:
    ul.cases__lst 
      li.cases__item 
        span.cases__number 1/
        span.cases__name Консультацию специалиста
      li.cases__item 
        span.cases__number 2/
        span.cases__name Демакияж
      li.cases__item 
        span.cases__number 3/
        span.cases__name Процедуру полного комплекса омоложения лица
        
    .cases__foto 
      +image('cases/', '1', 'Фотография консультации', '', 'jpg')