footer.footer
  .container
    .footer__wrap
      p ООО "Меделия"<br>
        | 630102, г. Новосибирск, ул. Восход, дом 22<br>
        | ОГРН 1175476096058 ИНН 5405008166 КПП 540501001<br>
        | Лицензия № ЛО-54-01-004956 от 05.06.2018<br>
      p
        a(href="/") Политика конфиденциальности<br>
        a(href="/") Пользовательское соглашение<br>
        a(href="/") Согласие на обработку персональных данных<br>
        | * Количество акционных мест ограничено и может отличаться от указанного в описании акции.<br>** Имеются противопоказания, необходимо проконсультироваться со специалистом (врачом).<br> Реклама. Не является публичной офертой.