section.section.info
  .container
    h2.info__title В 2021 году мы провели<br> 11 587 процедур
    p.info__text Когда ждать Вас?
    
    button.btn.btn--quiz.btn--center.quiz-btn
      span.btn__icon
        +svg('play')
      | Начать опрос