.addresses {

  &__title {
    font-family: $font-accent;
    font-size: 30px;
    text-align: center;
  }

  &__lst {
    display: flex;
    justify-content: center;
    @include lst;
    margin-top: 40px;
  }

  &__item {
    font-size: 18px;
    text-align: center;
  }
}